extends ../../node_modules/jade-bootstrap/layouts/starter
append styles
    // Custom styles for this template
    link(href='/stylesheets/sticky-footer.css', rel='stylesheet')
    link(href='/stylesheets/starter-template.css', rel='stylesheet')
    
html(lang="en")
    head
        block styles
            link(rel="stylesheet",href="/stylesheets/bootstrap.css")
    block body
        <a class="anchor" id="home"></a>

        nav.navbar.navbar-fixed-top.navbar-inverse(role="navigation")
            .container
                .navbar-header
                    button(type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed")
                        span.sr-only="Toggle navigation"
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    if(!user)
                        a#logoLink.navbar-brand.page-scroll(href= "#home")
                            img(src="/images/LogoTextOnly.png")
                    if(user)
                        a#logoLink.navbar-brand.page-scroll(href= "/")
                            img(src="/images/LogoTextOnly.png")


                #navbar.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        if(user)
                            li.page-scroll.homeLi(class= ( activeLi == 'index' ? "active" : ""))
                                    a(href="/") Home
                        if(!user)
                            li.page-scroll.homeLi(class= ( activeLi == 'index' ? "active" : ""))
                                a(href="#home") Home
                            li.page-scroll
                                a#Login(href="#next") Log in
                            li.page-scroll
                                a(href="#next2") Sign up
                            li.page-scroll
                                a(href="#info") Info
                        if(specialNav)
                           li(class= ( activeLi == 'specialnav' ? "active" : ""))
                                a(href="#{specialNav.href} ") #{specialNav.name} 
                    if(user)
                        ul.nav.navbar-nav.nav-right
                            +nav_item_dropdown("#")(label="#{user.username}")
                                +nav_item("/profile") Profile
                                +nav_item("/logout") Logout
                          
        block content
    
        footer.footer
            .container
                block footer
                    include footer
    