extends shared/starter

append styles
    link(href='stylesheets/awesomplete.css', rel='stylesheet')
    link(href='stylesheets/index.css', rel='stylesheet')
    link(href='stylesheets/css/font-awesome.css', rel='stylesheet')

    
append scripts
    script(src='/javascripts/IndexSockets.js')
    script(src='http://code.jquery.com/ui/1.10.3/jquery-ui.js')
    script(src="/javascripts/jquery.ui.touch-punch.js")
    script(src='/javascripts/effects.js')
    script(src='/javascripts/map.js')
    script(src='/javascripts/indexAuthorized.js')
    script(src='/javascripts/bootbox.min.js')
    script(type='text/javascript').
        var user =!{JSON.stringify(user)}
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCs_9qVC8-LjAinVOR0zY64frEZTCxqoeU&libraries=places&callback=initMap">
    <script src="/javascripts/awesomplete.js" async></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
        
    

block content
    .PageFiller#wrapper
        #StatusOverlay 
            h3 How are you feeling?
            img(src="/images/HappyPin.png")
            img(src="/images/UnhappyPin.png")
        #googlemap
            Google Maps is loading or unable to load.  
        .sidebar-label
            #menu-toggle Toggle Sidebar      
        .Sidebar#sidebar-wrapper
            #sidebar-heading 
                form#search
                    .input-group
                        input.awesomplete#searchInput(type="text" class="form-control" placeholder="Search a location..." )
                        span(class="input-group-btn")
                            button(class="btn btn-default" type="submit")
                                i.fa.fa-search
            .panel-group#accordion(role="tablist" aria-multiselectable="true")
                .panel.panel-default
                    .panel-heading#headingOne(role="tab" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne")
                        h4.panel-title
                            a(role="button" )
                                ='Friend Activity'
                    #collapseOne.panel-collapse.collapse.in(role="tabpanel" aria-labelledby="headingOne")
                        .panel-body
                            .empty
                                i Nothing new to report.
                .panel.panel-default
                    .panel-heading#headingTwo(role="tab" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo")
                        h4.panel-title
                            a(role="button" )
                                ='Local Activity'
                    #collapseTwo.panel-collapse.collapse(role="tabpanel" aria-labelledby="headingTwo")
                        .panel-body
                            .empty
                                i Nothing new nearby
                .panel.panel-default
                    .panel-heading#headingThree(role="tab" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree")
                        h4.panel-title
                            a(role="button")
                                ='Nearby Events'
                    #collapseThree.panel-collapse.collapse(role="tabpanel" aria-labelledby="headingThree")
                        .panel-body
                            .empty
                                i No events nearby.
                .panel.panel-default
                    .panel-heading#headingFive(role="tab" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive")
                        h4.panel-title
                            a(role="button")
                                ='Chat'
                    #collapseFive.panel-collapse.collapse(role="tabpanel" aria-labelledby="headingFive")
                        .panel-body
                            div.damnlineheight
                                ul.pagination.pagination-sm
                                    li.disabled
                                        a(href="#") &laquo;

                                    li.disabled.right-arrow
                                        a(href="#") &raquo;
                            .chat_window.chat-window(data-sender)
                                .panel.panel-default
                                    .panel-body.msg_container_base
                                    form#sendChat
                                        .input-group
                                            input#btn-input.form-control.input-sm.chat_input(type='text', placeholder='Write your message here...')
                                            span.input-group-btn
                                                button#btn-chat.btn.btn-primary.btn-sm(disabled) Send
                            
                if(user.role && user.role.name == "Administrator")
                    .panel.panel-primary
                        .panel-heading#headingFour(role="tab" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour")
                            h4.panel-title
                                a(role="button")
                                    ='Admin: Manage Events'
                        #collapseFour.panel-collapse.collapse(role="tabpanel" aria-labelledby="headingFour")
                            .panel-body#AdminEventsBody
                                button.btn.btn-primary.col-xs-12#addEvent Add Event
       