body {
}

.PageFiller{
    min-height:100%;
    background-color:#efefef;
}
.profile-heading{
    margin-bottom:30px;
    font-size: 45px;
    text-align:center;
}
.profile-item p, .profile-item i{
    display:inline;

}
.col-xs-1 i{
   cursor:pointer;
}

.fa-pencil{
    margin-right:5px;
}
.fa-check{
    margin-right:4px;
}
.profile-item-title{
    font-weight:bold;
}
/*.profile-item-editable:hover:after{
    content:"\f040";
    font-family:FontAwesome;
    margin-left:10px;
    cursor:pointer;
}*/
.profile-item{
}
.profile-item i {
    float:right;
    margin-right:15px;
    cursor: pointer;
}
.profile-heading i{
    margin-left:15px;
    font-size: 30px;
    cursor:pointer;
    padding-top:13px;
    color:#0a6ebd;
}
.panel{
    text-align:left;
}
.profile-header{
    width:100%;
    height:250px;
    background: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),url(https://unsplash.it/2000/250/?random) center no-repeat;
    background-size: cover;
}


.happy{
    color:#f5b800;
}
.unhappy{
    color:blue;
}
.profile-pic{
    position:relative;  
    height: 250px;
    width: 250px;
    margin:0 auto;
    top:75px;
}
.img-circle {
    
    background: url(/images/NoPic.jpg) center;
    background-size: cover;
}
.friend-item{
    width:100px;
    height:120px;
    margin-bottom:15px;
    text-align:center;
    display:inline-block;
    margin-right:5%;
    margin-left: 4%;
}
.friend-item-image{
    height:100px;
    width:100px;
}
.comment-item-image{
    height:60px;
    width:60px;
}


.alert{
    position:absolute;
    top: 10px;
    left: 30%;
    right: 30%;
    text-align:center;
    
}
.editable:hover:before {
    content: url(/images/upload.png);
    height:250px;
    width:250px;
    cursor:pointer;
}

.profile-content{
    margin-top:75px;
}
.img-circle input{
    top:-250px;
    visibility:hidden;
    height:250px;
    width:250px;
}
.inputHidden {
 width: 0px;
 height: 0px;
 overflow: hidden;
}
.comment-item a{
    color:black;
}
.line-center{
    margin:0;padding:0 10px;
    background:#fff;
    display:inline-block;
}
h6{
    font-style:italic;
    text-align:center;
    position:relative;
    z-index:2;
    
}
h6:after{
    content:"";
    position:absolute;
    top:50%;
    left:0;
    right:0;
    border-top:solid 1px black;
    z-index:-1;
}
.panel-body-h6{
    padding-top:0;
    padding-bottom:0;
}
.friend-item-accept{
    height:140px;
}
.friend-item i{
    margin-right:15px;
    cursor:pointer;
}
.friend-item i.fa-check{
    color:green;
}
.friend-item i.fa-times{
    color:red;
}